.icn_4_spin {
    background-image: url('../icons/4_spin.svg');
  }
  .icn_dropdown {
    background-image: url('../icons/icn_dropdown.svg');
  }
  .icn_hiking_light{
    background-image: url('../icons/icn_hiking_light.svg');
  }
  .icn_hiking {
    background-image: url('../icons/icn_hiking.svg');
  }
  .icn_search_light{
    background-image: url('../icons/icn_search_light.svg');
  }
  .icn_spinning_light {
    background-image: url('../icons/icn_spin_light.svg');
  }
  .icn_spinning {
    background-image: url('../icons/icn_spin.svg');
  }
  .icn_surfing_light {
    background-image: url('../icons/icn_surfing_light.svg');
  }
  .icn_surfing {
    background-image: url('../icons/icn_surfing.svg');
  }
  .icn_weights_light {
    background-image: url('../icons/icn_weights_light.svg');
  }
  .icn_weights {
    background-image: url('../icons/icn_weights.svg');
  }
  .icn_plus {
    background-image: url('../icons/icn_plus.png');

  }
  .icn_plus2x {
    background-image: url('../icons/icn_plus@2x.png');
    
  }
  .icn_close {
    background-image: url('../icons/close.svg');
  }
  .icn_close-cyan {
    background-image: url('../icons/close-cyan.svg');
  }
  .icn_arrow-down {
    background-image: url('../icons/arrow-down.svg');
  }
  .icn_arrow-up {
    background-image: url('../icons/arrow-down.svg');
    transform: rotate(180deg);
  }
 
 
 